body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f2f2f2;
  color: #333;
}

header {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}

.logo {
  max-width: 80px;
}

.slogan {
  font-style: italic;
  margin-top: -10px;
}

nav button {
  margin: 1rem 0.5rem;
  padding: 0.7rem 1.2rem;
  background-color: #00adee;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

nav button:hover {
  background-color: #008bbd;
}

main {
  padding: 2rem;
}

.formulario {
  display: none;
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 2rem;
}

form input, form textarea, form button {
  width: 100%;
  margin-top: 0.7rem;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #003366;
  color: white;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #003366;
  color: white;
}
